<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestNgMavenTest">
    <classes>
      <class name="com.javacodegeeks.testng.maven.testNgMaven.App"/>
      <class name="com.javacodegeeks.testng.maven.testNgMaven.Sr"/>
      <class name="com.javacodegeeks.testng.maven.testNgMaven.Chrome"/>
      <class name="com.javacodegeeks.testng.maven.testNgMaven.Version"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->